.filters {
    margin-bottom: 20px;
}

#gen-filters {
    display: flex;
    column-gap: 10px;

    @include screen-max (mobile) {
        flex-wrap: wrap;   
        row-gap: 10px;
    }
}

.filter {

    &--selection {
        min-width: 300px;
        max-width: 700px;

        @include screen-max (tablet) {
            min-width: 200px;
            max-width: 300px;
        }

        @include screen-max (mobile) {
            width: 100%;
        }
    }

    &--options {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        overflow: auto;
        max-height: 400px;

        @include screen-max (mobile) {
            max-height: 200px;
        }
    }

    &--option {
        width: 30%;
        padding: 10px;
        vertical-align: middle;
        cursor: pointer;

        @include screen-max (tablet) {
            width: 100%;
        }

        &:hover {
            color: black;
            background-color: lightgray;
        }

        &--hide {
            display: none;
        }

    }

    &--input::placeholder {
        color: white;
    }

}


