.filter {

    &--selection {
        min-width: 300px;
        max-width: 700px;
    }

    &--options {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        overflow: auto;
        max-height: 400px;
    }

    &--option {
        width: 30%;
        padding: 10px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: black;
            background-color: lightgray;
        }

        &--hide {
            display: none;
        }

    }


    &--input::placeholder {
        color: white;
    }


}

.filters {
    display: flex;
    justify-content: flex-start;
}

.filter--container {
    width: 170px ;
    padding-bottom: 0.5em;
}